.membersPageContentCentr form{
    width: 400px;
    box-sizing: border-box;
}
.membersPageContentCentr hr{
    width: 100%;
}
.membersPageContentCentr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.ulStartBut {
    display: flex;
}

.ulStartBut * {
    margin: 10px;
}

.membersPageBut {
    cursor: pointer;
    color: snow;
    background: deeppink;
    border: 0 solid gray;
    border-radius: 10px;
    height: 50px;
}